.App {
  @import "Header";
  main {
    display: flex;
    h2 {
      padding-bottom: 5px;
      border-bottom: 2px solid #ccf;
      margin-bottom: 15px;
      font-size: 1.5em;
      font-weight: 300;
    }
    @import "Form";
    @import "Preview";
  }
}
