.Form {
  width: 50%;
  padding: 0 15px;
  form {
    label {
      display: block;
      margin-bottom: 15px;
      strong {
        font-weight: normal;
        display: block;
        margin-bottom: 5px;
      }
      input {
        border: 1px solid #ccf;
        display: block;
        width: 75%;
        padding: 3px;
        border-radius: 3px;
        box-shadow: 0 0 5px #ccf;
      }
    }
  }
}
